<!DOCTYPE html>
<html lang="en">

 <a href="/showpage">
	<script>
		document.location.href='C:\Anudeep\GMU classes\SWE 432\Iteration 4\views\pages
\ShowPage.ejs'
	</script
</a> 

<head>
  <%- include('../partials/head'); %>
 
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>